.main-content {
    top: 0px;
    display: block;
    position: relative !important;
    /* overflow: auto; */
    background-color: #eeeeee;
    padding: 100px;
}
footer {
    display: block;
    position: relative !important;
}
.store-title {

}
.personal-store {
    width: 300px;
    height: 180px;
}
.company-store {
    width: 300px;
    height: 180px;
}
.store-container,.store-top-container {
    display: flex;
    justify-content: center;
}
.store-title {
    font-size: 30px;
}
.store-container li,.store-top-container li {
    margin: 30px;
    background-color: #ffffff;
    cursor: pointer;
    border:2px solid #ffffff;
}
.store-container li.active {
    border:2px solid #2ecc71;
}
.store-top-container li.active {
    border:2px solid #2ecc71;
}
.store-container li p,store-top-container li p {
    margin-bottom: 10px;
}
.no-radius {
    border-radius: 7px !important;
    cursor: pointer;
    margin: auto;
    margin-top: 70px !important;
}
